.parent {
  width: 100%;
  margin: auto;
  display: flex;
  padding: 10rem 2rem;
  position: relative;
  background: rgba(30, 30, 32, 0.5);
}




.parent > p {
  /* flex: ; */
  padding-left: 4rem;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 66px;
  color: #ffffff;
  padding-right: 1rem;
}
.parent > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0.8;
  padding-right: 3rem;
}

.parent button {
  width: 165px;
  background: #5454d4;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  border: 0;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}

@media (max-width:800px) {
    .parent{
        flex-direction: column;
        gap: 2rem;
    }
    .parent > p {
        font-size: 36px;
        line-height: 57px;
        padding-left: 0%;
    }
    .parent > div {
      justify-content: flex-start;
    }
}


.img1 {
    position: absolute;
    bottom:3rem;
    left:5rem;
}

.img2 {
    position: absolute;
    top:3rem;
    right:5rem;
}

@media (max-width:600px) {
  .parent{
      padding: 10rem 1.5rem ;
  }
  .img1 {
    left: 2rem;
  }
  .img2 {
    right: 2rem;
  }
  }