.parent {
  display: flex;
  width: 90%;
  margin: auto;
  padding:8rem 0px 6rem 0px;
  overflow: hidden;
}

.parent > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  flex: 1;
  padding-right: 5rem;
}
.parent > div:nth-child(1) > p:nth-child(1) {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 700;
  font-size: 53px;
  line-height: 65px;
  color: #ffffff;
}
.parent > div:nth-child(1) > button {
  background: #5454d4;
  border-radius: 4px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 0;
  flex-grow: 0;
  padding: 0.7rem 1rem;
  width: 180px;
  border: 0;
}

.parent > div:nth-child(1) > p:nth-child(2) {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 39px;
  letter-spacing: -0.656526px;
  color: rgba(255, 255, 255, 0.7);
}

.parent > div:nth-child(2) {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.parent > div:nth-child(2) img {
  width: 100%;
  transform: scale(1.3);
}

@media (max-width: 750px) {
  .parent {
    flex-direction: column;
    width: 100%;
    gap: 4rem;
  }
  .parent > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    flex: 1;
    padding-right: 1rem;
    width: 90%;
    margin: auto;
  }
  .parent > div:nth-child(2) img {
    width: 100%;
    transform: scale(1);
  }
}



.img1{
    position: absolute;
    top: 85%;
    left: 30%;
}

@media (max-width: 1400px) {
    .img1{
        position: absolute;
        top: 95%;
        left: 30%;
    }    
}
@media (max-width: 1100px) {
    .img1{
        position: absolute;
        top: 85%;
        left: 40%;
    }    
}

@media (max-width: 600px) {
    .img1{
        position: absolute;
        top: 85%;
        left: 30%;
    }    
}


.img2{
    position: absolute;
    top: 0%;
    right: 50%;
}

.img3{
    position: absolute;
    top: 0%;
    left: 40%;
}

.img4{
    position: absolute;
    top: 90%;
    right: 50%;
}

@media (max-width: 750px) {
    .img1{
        position: absolute;
        top: 85%;
        left: 35%;
    }    
    .img2{
        position: absolute;
        top: 0%;
        right: 35%;
    }    
    .img3{
        position: absolute;
        top: -10%;
        left: 35%;
    }    
    .img4{
        position: absolute;
        top: 85%;
        right: 35%;
    }    
}
@media (max-width: 525px) {
    .img1{
        position: absolute;
        top: 85%;
        left: 35%;
    }    
    .img2{
        position: absolute;
        top: 0%;
        right: 30%;
    }    
    .img3{
        position: absolute;
        top: 0%;
        left: 35%;
    }    
    .img4{
        position: absolute;
        top: 80%;
        right: 35%;
    }    
}