.parent {
  display: flex;
  flex-direction: column;
  padding: 12rem 0px 3rem 0px;
  width: 85%;
  margin: auto;
}
.parent > div:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent > div:nth-child(1) {
  width: 100%;
  margin: auto;
  display: flex;
}
@media (max-width: 750px) {
  .parent {
    padding: 7rem 0px 3rem 0px;
  }
}
@media (max-width: 800px) {
  .parent > div:nth-child(1) {
    width: 90%;
    flex-direction: column;
    gap: 2rem;
    padding-right: 1rem;
  }
  .parent > div:nth-child(2) {
    height: 500px !important;
  }
}
@media (min-width: 600px) {
  .parent {
    gap: 4rem;
  }

  .parent iframe {
    padding-bottom: 3rem;
  }
}
.parent > div:nth-child(2) > * {
  width: 90vw;
  height: 600px;
}
@media (max-width: 650px) {
  .parent > div:nth-child(2) > * {
    width: 90vw;
    height: 300px;
  }
}
@media (max-width: 400px) {
  .parent > div:nth-child(2) > * {
    width: 90vw;
    height: 200px;
  }
}

.parent > div:nth-child(1) > p:nth-child(1) {
  flex: 1;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #ffffff;
  padding-right: 1rem;
}
.parent > div:nth-child(1) > p:nth-child(2) {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 39px;
  letter-spacing: -0.656526px;
  color: rgba(255, 255, 255, 0.7);
  flex: 1;
}

@media (max-width: 550px) {
  .parent > div:nth-child(2) {
    height: 300px !important;
  }
  .parent > div:nth-child(1) > p:nth-child(1) {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
  }
  .parent > div:nth-child(1) > p:nth-child(2) {
    font-size: 16px;
    line-height: 24px;
  }
}
