.cardsParent12 {
    padding: 4rem 0px ;
}
.cardsParent12 img {
    width: 90%;
    margin: auto;
    position: relative;
    z-index: 236347673;
}

.div1 img{
    bottom: 2rem;    
}
.div3 img{
    bottom: -2rem;    
}
.div4 img{
    bottom: 0rem;    
}