.cardsParent12 {
    padding: 4rem 0px ;
}
.cardsParent12 img {
    width: 90%;
    margin: auto;
    z-index: 236347673;
}

.div1{
    position: relative;
    bottom: 2rem;    
}
.div3{
    position: relative;
    bottom: -2rem;    
}
.div4{
    position: relative;
    bottom: 0rem;    
}